.card-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

@media screen and (max-width: 450px) {
    .card-list {
        grid-gap: 20px;
        margin: auto;
        grid-template-columns: 6fr;
    }
}